.pickup .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 30rem;
}

.pickup .inputCnt, .pickup .buttonCnt {
    width: 45%;
    max-width: 18rem;
}

.pickup .inputCnt {
    visibility: hidden;
    padding: 1rem;
}

.pickup .inputCnt>*, .pickup .buttonCnt>* {
    width: 100%;
}

.pickup .inputCnt .label {
    font-size: 0.8rem;
}

.pickup .inputCnt .input {
    max-width: 18rem;
    font-size: 1.3rem;
    line-height: 2.5rem;
    text-align: center;
    background: var(--white);
}

.pickup .form-message {
    font-size: 0.7rem;
    line-height: 0.7rem;
    color: var(--header-color);
}

.pickup .button-submit {
    display: none;
}

@media screen and (orientation: portrait), screen and (max-width: var(--breakpoint-mobile)) {

    .pickup .inputCnt {
        width: 70%;
        max-width: 30rem;
    }

    .pickup .inputCnt .label {
        font-size: 1rem;
    }

    .pickup .inputCnt .input {
        line-height: 3rem;
    }
}