.pickup .modal {
    max-width: 40rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    border-radius: var(--radius);
    border: 1px solid var(--bg-color--light);
    background: var(--white--off);
    box-shadow: 1px 1px 10px var(--bg-color--light);
    padding: 1.5rem;
}

.pickup .modal .buttonCnt {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 40rem;
    justify-content: center;
}

.pickup .modal .button {
    margin: 1.5rem 1rem;
    width: 40%;
}

@media screen and (max-width: 510px) {
    .pickup .modal .button {
        margin: 1rem 2rem;
        width: 70%;
    }
}

.pickup .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: var(--white--off);
    opacity: 0.5;
}